.navbar {
  box-shadow: 0px 0px 20px 0px $color-dark;
  .navbar-brand {
    .logo {
      width: 150px;
    }
  }
  #navbarNav {
    .navbar-nav {
      margin: auto auto auto 50px;
      .nav-item {
        text-transform: uppercase;
        :hover {
          color: $color-white;
        }
      }
    }
    .cart-container {
      position: relative;
      &:hover > .cart-info{
        visibility: visible;
        opacity: 1;
      }
      .shopping-cart {
        .fa-shopping-basket {
          color: $color-white;
          position: relative;
          .shop-item-count {
            position: absolute;
            right: -12px;
            top: -12px;
            border-radius: 20px;
            background: $color-pink;
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            color: $color-white;
            font-weight: 500;
            font-size: 14px;
          }
        }
        .fa-caret-up {
          position: absolute;
          bottom: -10px;
          left: 15px;
          font-size: 25px;
          color: #fff;
          z-index: 2;
        }
      }
      .cart-info {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition:visibility 0.4s linear,opacity 0.4s linear;
        z-index: 1;
        right: 0;
        width: 350px;
        background-color: $color-white;
        padding: 10px;
        border: solid 1px $color-gray-light;
        @include box-shadow(0, 5px, 20px, 0, $color-dark);
        .fa-caret-up {
          position: absolute;
          top: -15px;
          font-size: 25px;
          color: #fff;
          right: 15px;
        }
        .cart-list {
          overflow-x: hidden;
          min-height: 70px;
          max-height: 350px;
          height: 85%;
          margin: 0 0 10px 0;
          padding: 0;
          border-bottom: solid 2px $color-dark;
          li {
            margin: 5px 0 10px 0;
            padding: 0 10px;
            border-top: solid 1px $color-gray-light;
            &:last-child {
              border-bottom: solid 1px $color-gray-light;
            }
            * {
              padding-left: 0;
              margin: auto 0;
            }
            .item-action {
              color: $color-dark;
            }
            .item-name {
              small {
                color: $color-gray;
              }
            }
          }
          .cart-empty {
            line-height: 70px;
            text-align: center;
            color: $color-gray;
          }
        }
        .cart-total {
          margin: 0;
          * {
            padding-left: 0;
            margin: auto 0 0 0;
          }
          .btn-checkout {
            @include button-style(5px, $color-pink, 12px, $color-white);
          }
          strong {
            color: $color-dark;
          }
        }
      }
    }
  }
}

.products-container {
  margin-top: 90px;
}
