.navbar {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1;
  box-shadow: 0px 0px 20px 0px $color-dark;
  .navbar-brand {
    .logo {
      width: 150px;
    }
  }
  #navbarNav {
    .navbar-nav {
      margin: auto auto auto 50px;
      .nav-item {
        text-transform: uppercase;
        :hover {
          color: $color-white;
        }
      }
    }
    .cart-container {
      position: relative;
      .shopping-cart {
        .fa-shopping-basket {
          color: $color-white;
          position: relative;
          .shop-item-count {
            position: absolute;
            right: -12px;
            top: -12px;
            border-radius: 20px;
            background: $color-pink;
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            color: $color-white;
            font-weight: 500;
            font-size: 14px;
          }
        }
        .fa-caret-up {
          position: absolute;
          bottom: -10px;
          left: 15px;
          font-size: 25px;
          color: #fff;
          z-index: 2;
        }
      }
      .cart-info {
        position: absolute;
        z-index: 1;
        right: 0;
        width: 300px;
        height: 350px;
        background-color: $color-white;
        padding: 10px;
        border: solid 1px $color-gray-light;
        @include box-shadow(0, 5px, 20px, 0, $color-dark);
        .fa-caret-up {
          position: absolute;
          top: -15px;
          font-size: 25px;
          color: #fff;
          right: 15px;
        }
        .cart-list {
          overflow-x: hidden;
          height: 90%;
          margin: 0 0 10px 0;
          padding: 0;
          li {
            margin: 5px 0 10px 0;
            padding: 0 10px;
            border-top: solid 1px $color-gray-light;
            &:last-child {
              border-bottom: solid 1px $color-gray-light;
            }
            * {
              padding-left: 0;
            }
          }
        }
      }
    }
  }
}

.products-container {
  margin-top: 90px;
}
