@mixin product-card() {
  height: 100%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  border-radius: unset;
  .card-img-top {
    @include box-shadow(0, 20px, 0, -20px, $color-gray-light);
  }
  .card-body {
    .card-action {
      @include button-style(10px 20px, $color-pink-dark, 12px, $color-white);
    }
  }
}

.product-list {
  .card-container {
    margin: 10px 0;
    .product-item {
      @include product-card();
    }
  }
}