@mixin product-card() {
  height: 100%;
  .card-img-top {
    @include box-shadow(0, 20px, 0, -20px, $color-gray-light);
  }
  .card-body {
    .card-action {
      background-color: $color-pink;
      border: none;
      border-radius: 0;
      outline: none;
    }
  }
}

.product-list {
  .card-container {
    margin: 10px 0;
    .product-item {
      @include product-card();
    }
  }
}